<div id="modal" class="modal">
    <%= form_for :topic, :url => {:action => :create} do |f| %>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Create new topic</h3>
        </div>
        <div class="modal-body">
            <p>
                <%= f.label "Name of topic" %>
                <%= f.text_field :text %>
            </p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button class="submit btn btn-primary">Save topic</button>
        </div>
  <% end %>
</div>