<div id="modal" class="modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Edit topic</h3>
    </div>
    <div class="modal-body">
      <p>
        <input class="js-topic-edit" type="text" value="<%= text %>"/>
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn js-close-button" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary js-update-topic">Save topic</button>
    </div>
</div>